{% extends "admin/layout_admin.html "%}

{% block content %}
<br><br><br><br><br><br><br><br>
<div class="d-flex justify-content-center">
  <h1>How input name ?</h1>
</div>
<br><br>
<div class="d-flex justify-content-center">
  <form action="{{url_for('Document_products.Admin_add')}}" method="POST">
    <div class="form-group">
      <label for="">ชื่อสินค้า</label>
      <input type="text" class="form-control" id="" name="Product_name" required>
    </div>

    <div class="form-group">
      <label for="">ประเภท</label>
      <input type="text" class="form-control" id="" name="Product_type" required>
    </div>

    <div class="form-group">
      <label for="">ยี่ห้อ</label>
      <input type="text" class="form-control" id="" name="Product_manner" required>
    </div>

    <div class="form-group">
      <label for="">ราคา</label>
      <input type="text" class="form-control" id="" name="Product_price" required>
    </div>
    <br>

    <div class="modal-footer">
      <a href="{{url_for('Document_products.Admin_index')}}" class="btn btn-primary">Revers</a> &nbsp
      <button type="submit" class="btn btn-success">Success</button>
    </div>

  </form>

</div>

{% endblock %}