{% extends "admin/layout_admin.html "%}

{% block content %}
<br><br>
<h4 class="text-center">สถิติสินค้า</h4><br>
<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <canvas id="export_chart" width="200" height="200"></canvas>
        </div>
        <div class="col d-flex justify-content-center">
            <canvas id="import_chart" width="400" height="400"></canvas>
        </div>
    </div>
</div>

<!-- export -->
<script>
    const ex_chart = document.getElementById('export_chart');
    var chart_export = `{% for export in chart_export %}{{chart_export[export]}},{% endfor %}`;
    const export_arr = chart_export.split(',');

    var chart_label_export = `{% for export in chart_export %}{{export}},{%endfor%}`;
    const lable_export_arr = chart_label_export.split(',');
    new Chart(ex_chart, {
        type: 'doughnut',
        data: {
            labels: lable_export_arr,
            datasets: [{
                label: 'สินค้ารายการออก',
                data: export_arr,
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text :'สินค้ารายการออก',font:{size:20}
                },
            },
        },
    });
</script>

<!-- import -->
<script>
    const im_chart = document.getElementById('import_chart');
    var chart_import = `{% for import in chart_import %}{{chart_import[import]}},{% endfor %}`;
    const import_arr = chart_import.split(',');

    var chart_label_import = `{% for import in chart_import %}{{import}},{%endfor%}`;
    const lable_import_arr = chart_label_import.split(',');
    new Chart(im_chart, {
        type: 'doughnut',
        data: {
            labels: lable_import_arr,
            datasets: [{
                label: 'สินค้ารายการเข้า',
                data: import_arr,
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'สินค้ารายการเข้า',font:{size:20}
                },
            },
        },
    });
</script>
</form>
{% endblock %}