{% extends "admin/layout_admin.html "%}

{% block content %}
<br><br><br><br><br><br>
<div class="container">
  <div class="d-flex justify-content-center">
    <h3>Record System</h3>
  </div>
  <br>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for msg in messages %}
  {% if status == "wait" %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{msg}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% else %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{msg}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% endwith %}
  <div class="row d-flex p-2">
    <div class="col-md-3">
      {{Pagination.links}}
    </div>
  </div>
  <table class="table table-warning table-striped table-hover">
    <thead>
      <tr>
        <th>ลำดับที่</th>
        <th>ผู้ยืม</th>
        <th>แผนก</th>
        <th>ประเภท</th>
        <th>จำนวนออก</th>
        <th>จำนวนเข้า</th>
        <th>วันที่ยืม</th>
        <th>สถานะ</th>
        <th>หมายเหตุ</th>
        <th></th>
      </tr>
    </thead>
    {% for row in user %}
    <tbody>
      <tr>
        <td>{{datas[row].0}}</td>
        <td>{{datas[row].1}}</td>
        <td>{{datas[row].2}}</td>
        <td>{{datas[row].3}}</td>
        <td>{{datas[row].4}}</td>
        <td>{{datas[row].5}}</td>
        <td>{{datas[row].6}}</td>
        <td>{{datas[row].7}}</td>
        <td>{{datas[row].8}}</td>
        <td>
          <button type="button" class="btn btn-danger" title="Delete" data-toggle="tooltip" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop{{datas[row].0}}"><i class="bi bi-trash2-fill"></i></button>
        </td>
      </tr>
      <!--Delect-->
      <div class="modal fade" id="staticBackdrop{{datas[row].0}}" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 text-black" id="staticBackdropLabel">ยืนยันการลบ ?</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{{url_for('Document_products.Admin_del')}}" method="POST">

              <div class="modal-body text-black">
                <h4>ต้องการลบรายการที่ {{datas[row].0}} ชื่อคุณ {{datas[row].1}} ใช่หรือไม่</h4>
              </div>
              <input type="hidden" name="re_no" value="{{datas[row].0}}">

              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger">Delete</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </tbody>
    {% endfor %}
  </table>
  <div class="col-auto">
    <form action="{{url_for('Document_products.cresheradmin')}}" method="POST">
      <label for="">
        <h5>ค้นหาเวลา</h5>
      </label>
      <div class="col-auto">
        <div class="d-inline-flex p-1">
          <input type="datetime-local" class="form-control" value="" name="dstart">
          &nbspถึง</h3>&nbsp
          <input type="datetime-local" class="form-control" value="" name="endstart">
        </div>
        <button type="submit" class="btn btn-success">ค้นหา</button>
        <a href="/Admin_index" class="btn btn-primary">หน้าหลัก</a>
      </div>
    </form>
  </div><br>
  <div class="row col-auto">
    <div class="col-auto">
      <form action="{{url_for('Document_products.cresheradmin2')}}" method="POST">
        <label for="">
          <h5>ค้นหาชื่อผู้ยืม</h5>
        </label>
        <div class="col-auto">
          <div class="d-inline-flex p-1">
            <input type="text" class="form-control" value="" name="dfname">
          </div>
          <button type="submit" class="btn btn-success">ค้นหา</button>
        </div>
      </form>
    </div>
    <div class="col-auto">
      <form action="{{url_for('Document_products.cresheradmin3')}}" method="POST">
        <label for="">
          <h5>ค้นหาสถานะสินค้า</h5>
        </label>
        <div class="col-auto">
          <div class="d-inline-flex p-1">
            <select name="dfname" class="form-select">
              <option value="">--กรุณาเลือกสถานะ--</option>
              <option value="เบิกจ่าย">เบิกจ่าย</option>
              <option value="ยืม">ยืม</option>
              <option value="จำหน่ายออก">จำหน่ายออก</option>
              <option value="รับเข้า">รับเข้า</option>
              <option value="คืน">คืน</option>
            </select>
          </div>
          <button type="submit" class="btn btn-success">ค้นหา</button>
        </div>
      </form>
    </div>
  </div>

</div>
{% endblock %}