{% extends "admin/layout_admin.html "%}

{% block content %}
<br><br><br><br><br><br>
<div class="d-flex justify-content-center">
    <h3>รายชื่อทะเบียน</h3>
</div>
<div class="container">
    <div class="row d-flex p-2">
        <div class="col-md-3">
          {{Pagination.links}}
        </div>
      </div>   
    <table class="table table-warning table-striped table-hover">
        <thead>
            <tr>
                <th>ชื่อกำกับ</th>
                <th>ชื่อวัสดุ</th>
                <th>หมวดหมู่</th>
                <th>ชนิดวัสดุ</th>
                <th>วันที่ซื้อ</th>
                <th>จำนวน(เต็ม)</th>
            </tr>
        </thead>
        {% for row in user %}
        <tbody>
            <tr>
                <td>{{datas[row].0}}</td>
                <td>{{datas[row].1}}</td>
                <td>{{datas[row].2}}</td>
                <td>{{datas[row].3}}</td>
                <td>{{datas[row].4}}</td>
                <td>{{datas[row].5}}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}