{% extends "admin/layout_admin.html "%}

{% block content %}
<br><br><br><br><br><br>
<div class="d-flex justify-content-center">
    <h3>รายการวัสดุ</h3>
</div>
<div class="container">
    <h5 class="align-self-start">เพิ่มรายการ
        <a href="/PDadding" class="btn btn-warning"><i class="bi bi-node-plus-fill"></i>&nbsp ADD</a>
    </h5>
    <div class="row d-flex p-2">
        <div class="col-md-3">
          {{Pagination.links}}
        </div>
      </div>
    <table class="table table-warning table-striped table-hover">
        <thead>
            <tr>
                <th>รายการที่</th>
                <th>ชื่อวัสดุ</th>
                <th>หมวดหมู่</th>
                <th>ยีห้อ</th>
                <th>จำนวน</th>
                <th>ล่าสุด</th>
                <th>หมายเลขทะเบียน</th>
                <th>ชนิดวัสดุ</th>
                <th></th>
            </tr>
        </thead>
        {% for row in user %}
        <tbody>
            <tr>
                <td>{{datas[row].0}}</td>
                <td>{{datas[row].1}}</td>
                <td>{{datas[row].2}}</td>
                <td>{{datas[row].3}}</td>
                <td>{{datas[row].4}}</td>
                <td>{{datas[row].5}}</td>
                <td>{{datas[row].6}}</td>
                <td>{{datas[row].7}}</td>
                <td>
                    <button type="button" class="btn btn-warning" title="Edit" data-toggle="tooltip"
                        data-bs-toggle="modal" data-bs-target="#exampleModal{{datas[row].0}}"><i
                            class="bi bi-folder2-open"></i></button>
                    &nbsp
                    <button type="button" class="btn btn-danger" title="Delete" data-toggle="tooltip"
                        data-bs-toggle="modal" data-bs-target="#staticBackdrop{{datas[row].0}}"><i
                            class="bi bi-trash2-fill"></i></button>
                </td>
            </tr>
            <!--Delect-->
            <div class="modal fade" id="staticBackdrop{{datas[row].0}}" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 text-black" id="staticBackdropLabel">ยืนยันการลบ ?</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="{{url_for('Document_products.PD_del')}}" method="POST">

                            <div class="modal-body text-black">
                                <h3>ต้องการที่จะลบรายการ {{datas[row].1}} หรือไม่!!!</h3>
                            </div>
                            <input type="hidden" name="Product_id" value="{{datas[row].0}}">

                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!--Update-->
            <div class="modal fade" id="exampleModal{{datas[row].0}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 text-black" id="exampleModalLabel">แก้ไขข้อมูล</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-black">
                            <form action="{{url_for('Document_products.PD_edit')}}" method="POST">

                                <div class="form-group">
                                    <input type="hidden" class="form-control" id="" value="{{datas[row].0}}" name="no">
                                </div>

                                <div class="form-group">
                                    <label for="">Record by</label>
                                    <input type="text" class="form-control " id="" value=""
                                        name="name_repd">
                                </div>

                                <div class="form-group">
                                    <label for="">ชื่อวัสดุ</label>
                                    <input type="text" class="form-control " id="" name="Product_type" value="{{datas[row].1}}">
                                </div>

                                <div class="form-group">
                                    <label for="">จำนวน</label>
                                    <input type="text" class="form-control" id="" value="" name="quantity_repd">
                                </div>

                                <div class="form-group">
                                    <label for="">วันที่บันทึก</label>
                                    <input type="datetime-local" class="form-control " id="" value=""
                                        name="date_repd">
                                </div>

                                <div class="form-group">
                                    <label for="">ชนิดวัสดุ</label>
                                    <select name="status_repd" class="form-select">
                                        <option value="รับเข้า">รับเข้า</option>
                                    </select>
                                </div>

                                
                                <div class="col-md-3">
                                    <label for="">หมายเหตุ</label><br>
                                    <textarea name="comment" id="" cols="30" rows="5">----</textarea>
                                </div>
                                  

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-success">Success</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}