{% extends "user/layout_user.html"%}

{% block content %}
<br><br><br><br><br><br>
<h5 class="d-flex flex-row-reverse">Welcome To {{session['Name']}}</h5>
<div class="d-flex flex-row-reverse">
  <a href="/logout" class="btn btn-info">Logout</a>
</div>

<h3 class="d-flex justify-content-center">รายการสินค้า</h3>
<br>
<div class="container">
  <table class="table table-success table-striped">
    <thead class="table-secondary">
      <tr>
        <th>รายการ</th>
        <th>ชื่อสินค้า</th>
        <th>ประเภท</th>
        <th>ยี่ห้อ</th>
        <th>ราคา</th>
        <th>ล่าสุด</th>
        <th>สถานะ</th>
        <th>Actions</th>
      </tr>
    </thead>
    {% for row in datas %}
    <tbody>
      <tr>
        <td>{{row.0}}</td>
        <td>{{row.1}}</td>
        <td>{{row.2}}</td>
        <td>{{row.3}}</td>
        <td>{{row.4}}</td>
        <td>{{row.5}}</td>
        <td>{{row.6}}</td>
        <td></td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>
{% endblock %}