{% extends "user/layout_user.html"%}

{% block content %}
<br><br><br><br><br><br><br>
<div class="d-flex justify-content-center">
  <h3>รายการสินค้า</h3>
</div>
<br>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
{% if status == "wait" %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>{{msg}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% else %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>{{msg}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}
<div class="container">
  <div class="row d-flex p-2">
    <div class="col-md-3">
      <h5 class="align-self-start">เปิดใบเบิกสินค้า
        <a href="/Useradding" class="btn btn-warning"><i class="bi bi-node-plus-fill"></i>&nbsp ADD</a>
      </h5>
    </div>
    <div class="col-md-3">
      {{Pagination.links}}
    </div>
  </div>
  <table class="table table-success table-striped">
    <thead class="table-success">
      <tr>
        <th>รหัสสินค้า</th>
        <th>ชื่อสินค้า</th>
        <th>ยี่ห้อ</th>
        <th>จำนวน</th>
        <th>last check</th>
      </tr>
    </thead>
    {% for row in user %}
    <tbody>
      <tr>
        <td>{{datas[row].5}}</td>
        <td>{{datas[row].1}}</td>
        <td>{{datas[row].2}}</td>
        <td>{{datas[row].3}}</td>
        <td>{{datas[row].4}}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>

{% endblock %}